---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LikedInIcon from '../components/Icons/Linkedin.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">  
			<img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35">
			Hey, Soy Brando Janel 
			<a href="https://www.linkedin.com/in/brandon-janel-julio-gonzalez-5b8ba5243/"
				target="_blank"
				rel="noopener"
				class="flex jusify-center items-center"
			>
				<Badge>Disponible</Badge></h1>
			</a>
			
		<h2 class="text-2xl opocity-80 text-wrap">2 años de experiencia. Desarrollador Web y Creador de Contenido.
			De Santa Marta, Colombia. Especializado en crear aplicaciones únicas.
		</h2>
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/brandon-janel-julio-gonzalez-5b8ba5243/">
					<LikedInIcon class="w-6 h-6"/>
					LikedIn
				</a>
			</li>
		</ul>
	</section>
	</main>
</Layout>

