---
 const personalImageAlt = "Brando Julio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Brando Julio, un apasionado ingeniero de sistemas y desarrollador frontend. Durante mi trayectoria, 
      uno de mis mayores logros fue liderar y ganar un concurso universitario con un <strong>proyecto innovador llamado Vigis</strong>, 
      el cual nos representó en un torneo internacional en Ecuador. 
      Este hito refleja mi compromiso con la excelencia y mi habilidad para desarrollar soluciones tecnológicas 
      impactantes.
    </p>

    <p>
        Además de mis logros académicos, cuento con experiencia en diseño y desarrollo de interfaces web, priorizando la usabilidad y el rendimiento. Me especializo en tecnologías como
        <strong>ReactJS y JavaScript,</strong
      > y disfruto resolviendo problemas complejos mediante código limpio y eficiente. Mi objetivo es siempre aprender algo nuevo, compartir conocimientos y aportar valor a proyectos que generen un impacto positivo.
    </p>

  </div>

  <img width="200" height="200" src="/projects/CORTA.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
