---
 const personalImageAlt = "Brando Julio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>Brando Julio</strong>, Ingeniero de Sistemas y Desarrollador Frontend con una sólida experiencia en la construcción de aplicaciones web modernas y de alto rendimiento. Me especializo en desarrollar interfaces intuitivas, escalables y optimizadas, combinando excelencia técnica con una experiencia de usuario excepcional.
    </p>

    <p>
      Trabajo principalmente con <strong>ReactJS, JavaScript y TypeScript</strong>, creando soluciones robustas mediante código limpio, mantenible y alineado con las mejores prácticas de la industria. Me apasiona resolver problemas complejos, optimizar procesos y convertir ideas en productos digitales de calidad profesional.
    </p>

    <p>
      Mi objetivo es construir software que no solo funcione correctamente, sino que también destaque por su rendimiento, escalabilidad y atención al detalle, aportando valor tangible a cada proyecto en el que participo.
    </p>

  </div>

  <img width="200" height="200" src="/projects/foto_perfil.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
