<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px] transition-transform duration-300 hover:-translate-y-1">
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#FFD700_0%,#FFD700_33%,#0033A0_33%,#0033A0_66%,#CE1126_66%,#CE1126_100%)]"
    ></span>
    <div class="inline-flex w-full items-center justify-center rounded-full bg-white/90 px-3 py-1 text-sm font-medium text-zinc-800 backdrop-blur-3xl whitespace-nowrap dark:bg-[#0b1120] dark:text-white/90">
      <slot />
    </div>
  </span>
</div>
