---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE=[
    {
        date: "Febrero 2024 - Agosto 2024",
        title: "Principal Frontend Engineer",
        company:"I.E San Jaoquin - Valledupar",
        description: "Diseñé y desarrollé el módulo de Gestión de la Convivencia Escolar para el software de la Institución Educativa San Joaquín, basado en la Ley 1620 de 2013. Este módulo centraliza y digitaliza la administración de incidentes escolares, implementando funciones clave como la gestión de observaciones, severidad y evidencias, mejorando la organización, eficiencia y seguridad en el entorno escolar.",
    }, {
    date: "Septiembre 2023",
    title: "Principal Frontend Engineer",
    company: "BOHIO",
    description:
      "Fui responsable de la creación y mejora continua de interfaces de usuario, enfocándome en la optimización del rendimiento y la experiencia visual. Trabajé en la construcción de soluciones que facilitaran una navegación intuitiva y una interacción fluida para los usuarios, siempre alineado con los objetivos del producto y las necesidades del equipo.",
  }
]
---


<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

