<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <img 
    class="rounded-full w-12 h-12"
    src="https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-6/322902079_1780536395726151_7775338121851244926_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFdTFQOf2FME8sULYK6RovXkK6hTKcywEKQrqFMpzLAQrqMGfJlRzyDFMV4dmMeRus&_nc_ohc=QZA-82KcqGQQ7kNvgHIAWKn&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&_nc_gid=AFHtpcid_Xyjl5FyPrM_cSW&oh=00_AYCCUOOgdaZSwL_3iv7-Mb-5u1o-PrXUFHbyGavhZOabcw&oe=67455B38" 
    alt="Brando photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>