---
const personalImageAlt = "Brando Julio";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/Icons/Linkedin.astro";
import MailIcon from "@/components/Icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "../components/Icons/GitHub.astro";
import LikedinIcon from "../components/Icons/Linkedin.astro";
---

<div class="max-w-xl mt-2 lg:mt-20">
  <div class="flex gap-4 mb-4 items-center">
    <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white flex items-center">
      <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35" class="mr-2" />
      Hey, Soy Brando Julio
    </h1>
    <a
      href="https://www.linkedin.com/in/brandon-janel-julio-gonzalez-5b8ba5243/"
      target="_blank"
      rel="noopener"
      class="flex justify-center items-center"
    >
      <Badge>Disponible</Badge>
    </a>
  </div>
  
  <p
    class="mt-0 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    2 años de experiencia. <strong
      >Ingeniero de Sistemas y desarrollador web</strong
    > de Santa Marta, Colombia. Especializado en la creación de aplicaciones únicas
    que combinan funcionalidad y diseño innovador.
  </p>

  <nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill
      href="https://www.linkedin.com/in/brandon-janel-julio-gonzalez-5b8ba5243/"
    >
      <LikedinIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/BrandonJulio">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:brandonjulio1997@gmail.com">
      <MailIcon class="size-4 md:size-6" />
      Gmail
    </SocialPill>
  </nav>
</div>
