<div style="display: flex; justify-content: space-around; align-items: center; gap: 16px; flex-wrap: wrap;">
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=reactjs&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/reactjs.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=php&sort=">
      <img
        width="82px"
        src="https://img.shields.io/badge/php-%23777BB4.svg?style=for-the-badge&logo=php&logoColor=white"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=javascript&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/javascript.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/Aditya664?tab=repositories&q=&type=&language=css&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/css.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/html.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/bootstrap.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img
        width="75px"
        src="https://img.shields.io/badge/jira-%230A0FFF.svg?style=for-the-badge&logo=jira&logoColor=white"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img
        width="92px"
        src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
    <a href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img
        width="50px"
        src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/typescript.svg"
        class="iconStyle transition-all duration-300 ease-in-out hover:scale-110"
      >
    </a>
  </div>
<style>
    .iconStyle {
  border-radius: 12px;  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(61, 60, 60, 0.2);  /* Sombra sutil */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Suavizamos la transición */
}

.iconStyle:hover {
  transform: scale(1.1); /* Aumenta el tamaño en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el ratón */
}

div {
  padding: 16px;
  background-color: transparent;  /* Fondo suave para los íconos */
  border-radius: 16px;  /* Bordes redondeados */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);  /* Sombra en el contenedor */
}

    </style>  