<div class="skills-carousel">
  <div class="skills-track">
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=reactjs&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/reactjs.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=php&sort=">
      <img width="82" src="https://img.shields.io/badge/php-%23777BB4.svg?style=for-the-badge&logo=php&logoColor=white" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=javascript&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/javascript.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/Aditya664?tab=repositories&q=&type=&language=css&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/css.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/html.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/bootstrap.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="75" src="https://img.shields.io/badge/jira-%230A0FFF.svg?style=for-the-badge&logo=jira&logoColor=white" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="92" src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/typescript.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/tailwind.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/postman.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/git.svg" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="86" src="https://img.shields.io/badge/Auth0-EB5424?style=for-the-badge&logo=auth0&logoColor=white" class="iconStyle" />
    </a>
    <a class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="86" src="https://img.shields.io/badge/Azure-0078D4?style=for-the-badge&logo=microsoftazure&logoColor=white" class="iconStyle" />
    </a>

    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=reactjs&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/reactjs.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=php&sort=">
      <img width="82" src="https://img.shields.io/badge/php-%23777BB4.svg?style=for-the-badge&logo=php&logoColor=white" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=javascript&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/javascript.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/Aditya664?tab=repositories&q=&type=&language=css&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/css.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubAboutMeGenerator/main/icons/html.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/bootstrap.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="75" src="https://img.shields.io/badge/jira-%230A0FFF.svg?style=for-the-badge&logo=jira&logoColor=white" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="92" src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/typescript.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/tailwind.svg" class="iconStyle" />
    </a>
     <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/postman.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="50" src="https://raw.githubusercontent.com/rahulbanerjee26/githubProfileReadmeGenerator/51f83dfc2091cdec25b7b33bd2d3da0996ec3efd/icons/git.svg" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="86" src="https://img.shields.io/badge/Auth0-EB5424?style=for-the-badge&logo=auth0&logoColor=white" class="iconStyle" />
    </a>
    <a aria-hidden="true" class="skill-item" href="https://github.com/BrandonJulio?tab=repositories&q=&type=&language=html&sort=">
      <img width="86" src="https://img.shields.io/badge/Azure-0078D4?style=for-the-badge&logo=microsoftazure&logoColor=white" class="iconStyle" />
    </a>
  </div>
</div>

<style>
  .skills-carousel {
    overflow: hidden;
    width: 100%;
    padding: 16px 0;
  }

  .skills-track {
    display: flex;
    align-items: center;
    gap: 24px;
    width: max-content;
    white-space: nowrap;
    animation: scrollSkills 22s linear infinite;
  }

  .skill-item {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
  }

  .iconStyle {
    display: block;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(61, 60, 60, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .iconStyle:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .skills-track:hover {
    animation-play-state: paused;
  }

  @keyframes scrollSkills {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>
