<h2
	class={`flex items-center gap-x-3 border-b border-black/5 pb-4 text-3xl font-semibold tracking-tight text-zinc-900 dark:border-white/10 dark:text-white md:text-4xl ${Astro.props.className}`}
>
    <slot />
</h2>
